<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="icon" href="../static/logo.ico"/>
  <title> GYM </title>
</head>
<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  

<!-----------------------------------------------------NavBar------------------------------------------------------------------------------------------->

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/gym">GYM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link active" href="/about">AboutUs</a>
        <a class="nav-link active" href="/suggestions">Suggestion</a>
        <a class="nav-link active" href="/contact">ContactUs</a>
      </div>
    </div>
  </nav>

<br/><br/>

<!-----------------------------------------------------------Product------------------------------------------------------------------------------------->

<div class="spniire text-center" style="letter-spacing: 35px; font-size: xx-large;">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<br/><br/>

<!--------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="card bg-light text-white">
    <img height="600px" src="../static/awq.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 style="font-size: 25px;" class="card-title">“The last three or four reps is what makes the muscle grow.<br/> This area of pain divides a champion from someone who is not a champion.”</h5>
    </div>
</div>

<!-----------------------------------------------------------Contact------------------------------------------------------------------------------------>

<br/><br/>
<form action="/contact" , method="post" , class="container">
    <div class="form-group">
      <label for="exampleFormControlInput1">Username</label>
      <input type="text" name="name" placeholder="Your Name" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Mail ID</label>
        <input type="text" name="email" placeholder="Your Email" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Your Age</label>
        <input type="tel" name="age" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea name="more" cols="100" rows="10" placeholder="Drop Your Suggestion Here" class="form-control" id="exampleFormControlTextarea1"></textarea>
      <br/><br/>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<br/><br/>

<!-----------------------------------------------------------Product------------------------------------------------------------------------------------->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Ankit Upadhyay(CEO & Founder)</h1>
      <p class="lead" style="font-size: 25px; letter-spacing: 2px;">A health club (also known as a fitness club, fitness center, health spa, and commonly referred to as a gym) is a place that houses exercise equipment for the purpose of physical exercise. Alan Smithee describes a health club as a "company providing people, access to controlled environmental condition space and services focused on physical fitness and health in exchange of a fee."
        A cardio theater or cardio area includes many types of cardiovascular training-related equipment such as rowing machines, stationary exercise bikes, elliptical trainers and treadmills. These areas often include a number of audio-visual displays, often TVs (either integrated into the equipment or placed on walls around the area itself) in order to keep exercisers entertained during long cardio workout sessions. Some gyms provide newspapers and magazines for users of the cardio theatre to read while working out.
      </p>
    </div>
</div>

<!------------------------------------------- ---------------------FOOTER------------------------------------------------------------------------ -->

<br/><br/>

<footer>
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2020-2021 AnkitTechFirm.Pvt.Ltd , Inc. &middot; <a href="https://www.privacypolicies.com/blog/privacy-policy-template/#:~:text=Conclusion-,What%20is%20a%20Privacy%20Policy%3F,or%20sold%20to%20third%20parties.">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>


</body>
</html>