<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="icon" href="../static/logo.ico"/>
  <title> GYM </title>
</head>
<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  

<!-----------------------------------------------------NavBar------------------------------------------------------------------------------------------->

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">GYM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link active" href="/about">AboutUs</a>
        <a class="nav-link active" href="/suggestions">Suggestion</a>
        <a class="nav-link active" href="/contact">ContactUs</a>
      </div>
    </div>
  </nav>

<br/><br/>


<!----------------------------------------------------------------------------------------------------------------------------------------------------->


<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="icon" href="../static/logo.ico"/>
  <title> GYM </title>
</head>
<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  

<!-----------------------------------------------------NavBar------------------------------------------------------------------------------------------->

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">GYM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link active" href="/about">AboutUs</a>
        <a class="nav-link active" href="/suggestions">Suggestion</a>
        <a class="nav-link active" href="/contact">ContactUs</a>
      </div>
    </div>
  </nav>

<br/><br/>

<!--------------------------------------------------------Spinners------------------------------------------------------------------------------------->

<div class="spin text-center" style="font-size: xx-large; font-weight: 800;">
<div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="sr-only">Loading...</span>
</div>
</div>


<!----------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">CEO POINT<br/>(Mr.Ankit Upadhyay)</h1>
      <p class="lead">If you’re not one of those people who wake up every day jazzed to hit the gym and eat lightly seasoned chicken and broccoli… don’t worry. You’re not alone. Following and sticking to a fitness and nutrition plan is tough, and there will be days when you can’t find any sense of fitness motivation at all. You might just want to throw in your very sweaty towel and give up. But that’s when these motivational workout quotes can save the (leg) day.

        Sometimes a few powerful words are all you need to get out of an “I can’t” or “I don’t feel like it” mindset and get you ready to tackle a workout or choose a healthy food option. When you’re struggling to stay on track with your goals, inspirational health and fitness quotes can help remind you why you’re doing what you’re doing, and why you shouldn’t succumb to feeling discouraged.
        
        Here are 20 workout motivation quotes that may be just what you need to rise above your excuses and accomplish your goals. We’ve included fitness quotes from all-star athletes like Venus Williams, Michael Jordan, and Arnold Schwarzenegger, as well as inspirational sayings from wise public figures like Maya Angelou, Thomas Jefferson, and Mahatma Gandhi. Print them out. Tape them to your mirror. Carry them around in your wallet. Repeat them in your mind over and over and over again until they stick. Because yes, you can do this. Now is the time to achieve your dreams.
        
        </p>
    </div>
</div>

</body>
</html>