<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/home.css">
  <link rel="icon" href="../static/logo.ico"/>
  <title> GYM </title>
</head>
<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  

<!-----------------------------------------------------NavBar------------------------------------------------------------------------------------------->

<br/><br/>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/gym">GYM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link active" href="/about">AboutUs</a>
        <a class="nav-link active" href="/suggestions">Suggestion</a>
        <a class="nav-link active" href="/contact">ContactUs</a>
      </div>
    </div>
  </nav>


<!-----------------------------------------------------Header------------------------------------------------------------------------------------------->

<br/><br/>
<div class="head text-center">
  <div style="font-size: 50px;">GYM KARO MST RAHO</div>
</div>

<!------------------------------------------------Slide Bar--------------------------------------------------------------------------------------------->

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img width="1400px" height="800px" src="../static/gym.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img width="1400px" height="800px" src="../static/gym1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img width="1400px" height="800px" src="../static/hqm.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<!------------------------------------------------------------Boxes-------------------------------------------------------------------------------------->

<br/><br/>
<div class="card text-center">
  <div class="card-header" style="font-size: 50px;">
    Tips To Fit
  </div>
</div>
<br/><br/>


<div class="container">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">BE PROUD</h5>
        <p class="card-text">Before diving into the practical gym tips for beginners, remember that the most important exercise catalyst is confidence. Whether you're lifting 100 pounds or 1 pound, you should be proud of yourself for showing up at the gym at all! Don't be intimidated by others or scared to ask for help.</p>
        <a href="#" class="btn btn-primary"> Tips </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">STAY STRONG</h5>
        <p class="card-text">Beginners often flock to the treadmills and stationary cycles because these machines are easy for all ages and ability levels. But don't get stuck in a cardio try incorporating at least two days of strength training into your weekly routine. If you aren't feeling ready effective at strength.</p>
        <a href="#" class="btn btn-primary"> Tips </a>
      </div>
    </div>
  </div>
</div>
</div>


<br/><br/>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">BE REALISTIC</h5>
          <p class="card-text">Losing weight, gaining strength, boosting endurance and increasing flexibility are all long-term goals — so don't expect to reach ultimate strength in a single week. Be realistic about the goals you set for yourself. For example, see if you can add five more pounds to your shoulder press .</p>
          <a href="#" class="btn btn-primary"> Tips </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">WORK HARD</h5>
          <p class="card-text">If you're not sweating by the end of your workout, perhaps you aren't pushing yourself hard enough. Try to reach an "out of breath" state at least once during your workout by incorporating high-intensity movements like sprinting, jumping jacks.A good place to start is following the USDA's.</p>
          <a href="#" class="btn btn-primary"> Tips </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br/><br/>

<!-------------------------------------------------------Card-------------------------------------------------------------------------------------------->

<div class="card bg-dark text-white">
  <img width="1100px" height="600px" src="../static/ae.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h2 class="card-title text-center">Amp up exercises by adding weights</h2>
    <p class="card-text" style="font-size: 25px; padding-top: 50px;">While you can get a heart-pumping workout using only bodyweight exercises, adding in weights gives your muscles an extra challenge. If you feel like you’ve mastered moves like basic squats and lunges, try holding a set of dumbbells or a medicine ball to make these types of bodyweight moves more challenging and effective.One of the biggest questions that beginners have in the gym is, "Which weight should I use?" Choosing a weight that's heavy enough (but not too heavy) will challenge your muscles just enough to grow stronger. If a weight is too light, you'll still get some of the health benefits from moving your body, but you won't see your strength or fitness improve.
      Choosing the right weight can take some trial and error. In general, you want a weight where you can finish all of the reps in your final set of exercises, but feel like you're really struggling on the last two or three reps. If you can finish that final set easily, it's time to increase the weight. If you can't finish all of the reps in a set, move down to a lighter weight.</p>
    <p class="card-text">Last update 3 min ago</p>
  </div>
</div>

<!----------------------------------------------------SmallBoxes----------------------------------------------------------------------------------------->

<br/><br/>

<div class="container">
<div class="card-deck">
  <div class="card">
    <img height="400px" src="../static/dip.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jerry Rice</h5>
      <p class="card-text">“Today I will do what others won’t, so tomorrow I can accomplish what others can’t.”</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img height="400px" src="../static/focus.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Steve Prefontaine</h5>
      <p class="card-text">“You’re only one workout away from a good mood.”</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img height="400px" src="../static/lift.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Muhammad Ali</h5>
      <p class="card-text">“Don’t count the days, make the days count.”</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
</div>


<!------------------------------------------- ---------------------FOOTER------------------------------------------------------------------------ -->

<br/><br/>

<footer>
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2020-2021 AnkitTechFirm.Pvt.Ltd , Inc. &middot; <a href="https://www.privacypolicies.com/blog/privacy-policy-template/#:~:text=Conclusion-,What%20is%20a%20Privacy%20Policy%3F,or%20sold%20to%20third%20parties.">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

</body>
</html>